<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		Music History Angular
	</title>
	<link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="music-history"  ng-controller="masterController">

	<div class="row header">
		<button type="button" class="btn btn-warning col-md-6" ng-click="showAddView()">Add Songs</button>
		<button type="button" class="btn btn-success col-md-6" ng-click="showListView()">Display Songs</button>
	</div>



	<div class="row songContainer" ng-show="songView">
		<div class="col-md-4 filtering">
			<input type="text" ng-model="searchText" placeholder="Search for a song" class="col-md-12">
			
		</div>
		<div class="col-md-8 songs">
			<ul ng-repeat="song in songList | filter:searchText">
				<li>
					<div class="row">
						<div class="col-md-3">{{song.Title}}</div>
						<div class="col-md-3">{{song.Artist}}</div>
						<div class="col-md-3">{{song.Album}}</div>
						<div class="col-md-3">{{song.Genre}}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-12" ng-show='!songView'>
                <h1>New Song </h1>
                <form action="">
                    <div class="form-group">
                        <label>Song Name</label>
                        <input type="text" class="form-control" placeholder="Enter the name of your song" ng-model="newSong.Title" />
                    </div>
                    <div class="form-group">
                        <label>Artist Name</label>
                        <input type="text" class="form-control" placeholder="Enter the name of your artist" ng-model="newSong.Artist" />
                    </div>
                    <div class="form-group">
                        <label>Album Name</label>
                        <input type="text" class="form-control" placeholder="Enter the name of your album" ng-model="newSong.Album" />
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <input type="text" class="form-control" placeholder="Enter the genre" ng-model="newSong.Genre" />
                    </div>
                    <button type="button" class="btn btn-default" ng-click="addNewSong()">Submit</button>
                </form>
            </div>




	<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<script src="app/app.js"></script>	
</body>
</html>